<phpunit colors="always" bootstrap="tests/autoload.php">
  <filter>
    <whitelist>
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-text" target="tests/build/coverage.txt"/>
  </logging>
  <testsuites>
    <testsuite name="basic">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
